.app-header {
    position: fixed;
    align-items: center;
    background: #FFF;
    justify-content: space-between;
    padding: 0 2rem;
    height: 70px;
    width: -webkit-fill-available;
    box-shadow: 0px 4px 5px rgba(5, 59, 75, 25%);
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.8fr;

}

.logo {
    max-height: 30px;
    float: left;

}

.div-input {
    background-image: url("../../icon.png");
    background-repeat: no-repeat;
    background-position: right;
    float: left;

}

.input {
    background: #ffffff15;
    box-shadow: 0px 4px 5px rgba(5, 59, 75, 0.06);
    border-radius: 20px;
    outline: none;
    height: 35px;
    width: 100%;
    border: 1px solid #DEE1E6;
}

.div-div {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.3fr;
    margin-left: 30%;
}

.div-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #406A76;
    float: right;
}

.user-name {
    color: #406A76;


}

.stroke {
    background-image: url("../../Stroke.png");
    background-repeat: no-repeat;
    background-position: right;
    float: left;
}